@page "/Initialize"
@using BeatSaberSongLoaderBlazor.Data
@inject InitializeService InitializerService

<ProgressBar></ProgressBar>

<div>
    <ProgressBarDependencies></ProgressBarDependencies>
    <button type="button" class="btn btn-primary btn-lg" onclick="@(e => DownloadAllDependencies())">Download All Dependencies</button>
</div>


@functions{

    private async Task DownloadAllDependencies()
    {
        await InitializerService.GetAllDependencies();
        await base.Invoke(StateHasChanged);
    }
}
